@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Blinker:wght@100&family=Poppins:wght@100;400&display=swap');



.container{
    margin: 0 auto;
    max-width: 1280px;
}



body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --red: #d01c28;
    --gray: #2e2e2e;
}
*{
    margin:0;
    
}
button{
    all: unset;
    padding:6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight:500;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px
}

.hero{
    display: flex;
    align-items: center;
    height: calc(100vh - 72px)
}

.hero h1{
    font-weight: 800;
    line-height: 102px;
    font-size: 108px;
}
.hero p{
    font-weight: 600;
    color: var(--gray);
    max-width: 400px;
}

.hero-btn{
    display: flex;
    gap:40px;
}

.secondary-btn{
    background: transparent;
    color: var(--gray);
    border:1px solid var(--gray)
}

.Shopping p{
    font-size: 14px;
    margin-bottom: 8px;
}

.brand-icon{
    display: flex;
    gap: 16px;
}

.Hero-content{
    display: flex;
    flex-direction: column;
    gap: 36px; 
}